// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.header_top {
    margin: 0;
    width: 100%;
    min-width: 460px;
    height: 50px;
    background-color: #fff;
}

.header_top2 {
    margin: 0;
    width: 100%;
    min-width: 460px;
    height: 3px;
    background-color: #33e3ff;
}

.header_top3 {
    margin: 0;
    width: 100%;
    min-width: 460px;
    height: 100px;
    background-color: #e9ecec;
}
.header_container {
    background-color: #ffffff;
    text-align: left;
    font-family: roboto-regular;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    margin: 0;
    width: 100%;
    height: 150px;
}

.footer {
    font-size: 11px;
    bottom: 0;
    height: 30px;
    position: absolute;
    width: 100%;
    color: #fff;
    min-width: 460px;
}
.footer {
    border-top: solid 1px #aebccd;
    padding: 15px 0;
    background: linear-gradient(
        to bottom,
        rgba(19, 19, 57, 1) 0%,
        rgba(83, 91, 118, 1) 100%
    ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d1c34', endColorstr='#12274a',GradientType=0 ); /* IE6-9 */
}
.promo {
    margin-left: 20px;
}
